@font-face {
    font-family: "Kenvector";
    src: url(assets/fonts/kenvector_future.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#everything-wrapper {
    height: 480px;
    width: 640px;
    padding: 5px;
    aspect-ratio: 16 / 9;
    user-select: none;
    font-family: "Kenvector", 'Courier New', Courier, monospace;
}

#game {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 100%;
}

canvas {
    image-rendering: pixelated;
}

#play-area h2,
#target h2 {
    position: absolute;
    padding-left: 1rem;
    font-size: 1rem;
    top: 0.25rem;
}

#target-canvas {
    border-image-source: url(assets/img/metalPanel_yellowCorner.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
}

#play-area {
    border-image-source: url(assets/img/metalPanel_blueCorner.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
    padding: 1rem;
}

#play-canvas {
    border-image-source: url(assets/img/glassPanel.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
}

button {
    border-image-source: url(assets/img/metalPanel_plate.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
    background-color: transparent;
    font-family: inherit;
    margin: .25rem;
    padding: .25rem .75rem;
}

#shape-select {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#shapes div {
    border-image-source: url(assets/img/glassPanel_cornerTL.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

#shape-select div.selected {
    filter: hue-rotate(-100deg);
    /* background-color: rgba(0, 200, 0, 0.2); */
}

#level-completed-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center center;
    text-align: center;
}

#level-completed-overlay .popup{
    display: flex;
    gap: 1em;
    align-items: center;
}

.result-wrapper {
    width: 10rem;
}

.result-percentage {
    display: block;
    font-size: 2em;
}

.canvas-wrapper {
    display: flex;
    flex-direction: column;
}

.canvas-wrapper div {
    flex-grow: 1;
}

.hidden {
    display: none !important;
}

.popup {
    border-image-source: url(assets/img/metalPanel.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
    padding: 1rem;
}

.popup canvas {
    border-image-source: url(assets/img/glassPanel.png);
    border-image-slice: 30% fill;
    border-image-width: 1rem;
}

label {
    cursor: pointer;
}

input[type="checkbox"] + label.dot {
    display: inline-flex;
    align-items: center;
}
input[type="checkbox"] + label.dot::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("assets/img/dotWhite.png");
    margin-right: 10px;
}
input[type="checkbox"]:checked + label.dot::after {
    background-image: url("assets/img/dotBlue.png");
}

input#cutout:checked ~ #cutout-block,
input#cutout:not(:checked) ~ #cutout-cutout {
    display: none;
}

.scale-dot {
    display: inline-block;
    width: 19px;
    height: 26px;
    background-image: url(assets/img/squareWhite.png);
}

.scale-dot.filled {
    background-image: url(assets/img/squareBlue.png);
}